body {
    font-size: 16px;
    line-height: 1.5;
  }
  ul {
    list-style-type: none;
  }
  li {
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(228, 244, 243, 0.5);
  }